<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" /><head>

    <!--meta tags-->

    <meta charset="UTF-8">
    <meta name="description" content="School Review App">
    <meta name="keywords" content="school, review">
    <meta name="author" content="SauceCode">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--end meta tags-->

    <title>School Review</title>

    <!--stylesheets-->

    <link rel="stylesheet" href="3rdparty/css/bootstrap.min.css">
    <link rel="stylesheet" href="3rdparty/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="3rdparty/css/animate.min.css">
    <link rel="stylesheet" href="3rdparty/jquery-nice-select-1.1.0/css/nice-select.css">
    <link rel="stylesheet" href="3rdparty/OwlCarousel2-2.2.1/owl.carousel.min.css">
    <link rel="stylesheet" href="3rdparty/OwlCarousel2-2.2.1/owl.theme.green.min.css">
    <link rel="stylesheet" href="3rdparty/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="css/app.css">

    <!--end stylesheets-->

    <!--google fonts-->

    <link href="https://fonts.googleapis.com/css?family=Quicksand:700|Raleway|Tangerine" rel="stylesheet">
    <!--end google fonts-->

</head>
<body>

<!--top navbar-->
<nav class="ui-nav">
        <div class="logo"><a href="index.html">School Review</a></div>
        <div class="start-here">
                <a href="#" class="btn ui-btn info">Add New School</a>
        </div>
        <i class="fa fa-bars open-menu"></i>
    </nav>
<!--end top navbar-->



<div class="content-wrapper">

    <!--listing detail-->
    <div class="listing-detail">

        <!--main section-->
        <div class="detail-main-section">
            <div class="detail-cover-img">
                <img src="img/cooker.jpg" alt="">
                <div class="cover-shade">
                   
                    <h4>FUT Minna</h4>
                    <strong><i class="fa fa-map-marker text-info"></i> Minna</strong>
                </div>
            </div>
            <div class="detail-action">
                <strong><i class="fa fa-check-circle-o text-success"></i> Verified Listing</strong>
                <strong><i class="fa fa-check-circle-o text-danger"></i> Non-Verified Listing</strong>
                <div class="action">
                    <a href="#"><i class="fa fa-heart-o"></i></a>
                </div>
            </div>
            <p class="detail-description">
                Salami pastrami prosciutto venison bacon short ribs.
                Ribeye shoulder tail pig. Turducken tenderloin drumstick
                alcatra ribeye doner kielbasa jowl venison pork belly
                brisket shankle hamburger porchetta. Ham hock shank
                hamburger swine, pig rump filet mignon porchetta.
                Sausage ground round swine corned beef sirloin hamburger
                shank pork loin jowl short loin pork andouille porchetta
                ball tip filet mignon.
                <br>
                <br>
                Ham hock shank
                hamburger swine, pig rump filet mignon porchetta.
                Sausage ground round swine corned beef sirloin hamburger
                shank pork loin jowl short loin pork andouille porchetta
                ball tip filet mignon.
                <br>
                <br>
                pastrami prosciutto venison bacon short ribs.
                Ribeye shoulder tail pig. Turducken tenderloin drumstick
                alcatra ribeye doner kielbasa jowl venison pork belly
                brisket shankle hamburger porchetta. Ham hock shank
                hamburger swine, pig rump filet mignon porchetta.
                Sausage ground round swine corned beef sirloin hamburger
                shank pork loin jowl short loin pork andouille porchetta
                ball tip filet mignon.
            </p>

            <div class="detail-content">

                <div class="reviews">
                    <h5>Reviews</h5>
                    <div class="comments">
                        <div class="comment">
                           
                            <div class="comment-info">
                                <h6 class="comment-name">Rachel Ivin</h6>
                                <i>Thursday Feb 4, 2015</i>
                                <p>
                                    Jowl cupim prosciutto meatloaf, andouille shoulder tail salami.
                                    Corned beef t-bone shoulder, biltong brisket chuck rump hamburger tri-tip.
                                    Short loin porchetta fatback chicken. Sausage venison tail
                                </p>
                                <div class="rating-stars">
                                    <i class="fa fa-star yel"></i>
                                    <i class="fa fa-star yel"></i>
                                    <i class="fa fa-star yel"></i>
                                    <i class="fa fa-star-half-empty"></i>
                                    <i class="fa fa-star-o yel"></i>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="comment-info">
                                <h6 class="comment-name">brandon Zen</h6>
                                <i>Thursday Feb 4, 2015</i>
                                <p>
                                    Jowl cupim prosciutto meatloaf, andouille shoulder tail salami.
                                    Corned beef t-bone shoulder, biltong brisket chuck rump hamburger tri-tip.
                                    Short loin porchetta fatback chicken. Sausage venison tail
                                </p>
                                <div class="rating-stars">
                                    <i class="fa fa-star yel"></i>
                                    <i class="fa fa-star yel"></i>
                                    <i class="fa fa-star yel"></i>
                                    <i class="fa fa-star-half-empty"></i>
                                    <i class="fa fa-star-o yel"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--review form-->
                    <div class="review-frm">
                        <h5>Add Review (<i class="fa fa-star text-rose"></i>)</h5>
                        <form action="#" method="post">
                            <div class="rate">
                                <a href="#"><i class="fa fa-star-half-o"></i></a>
                                <a href="#"><i class="fa fa-star-half-o"></i></a>
                                <a href="#"><i class="fa fa-star-half-o"></i></a>
                                <a href="#"><i class="fa fa-star-half-o"></i></a>
                                <a href="#"><i class="fa fa-star-half-o"></i></a>
                                <span>Your Rating</span>
                            </div>
                            <div class="form-group">
                                <input placeholder="Name">
                                <textarea name="msg" id="message" placeholder="Your Message Here ..." rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn ui-btn dark-blue">Submit</button>
                        </form>
                    </div>
                    <!--end review form-->

                </div>

            </div>

        </div>
        <!--end main section-->

        <!--aside section-->
        <aside class="detail-aside-section">
            <div class="box">
                <div class="rating-b">
                    <h1 class="text-center">4.8</h1>
                    <div class="rating-stars text-center">
                        <i class="fa fa-star yel"></i>
                        <i class="fa fa-star yel"></i>
                        <i class="fa fa-star yel"></i>
                        <i class="fa fa-star-half-empty"></i>
                        <i class="fa fa-star-o yel"></i>
                    </div>
                    <p class="text-center"><small>(567 Reviews)</small></p>
                </div>
            </div>
            <div class="service-sidebar">
                <h4>More Details</h4>
                <hr>
                <ul class="list-unstyled cont-info">
                    <li><i class="fa fa-phone text-mayan"></i> <span>+1 656 8563 35</span></li>
                    <li><i class="fa fa-envelope-o text-rose"></i> <a href="mailto:zen@example.com">zen@me.com</a></li>
                    <li><i class="fa fa-map-marker"></i> <span>Niger</span></li>
                    <li><i class="fa fa-globe"></i> <a href="#">www.me.com</a></li>
                </ul>

            </div><br><br>
            <h4>Other Listings</h4>
            <div class="service-sidebar">
                    <div class="box">
                            <div class="pad">
                                <p class="text-center"><strong>FUT Minna</strong></p>
                                <div class="abt">
                                    <div class="abt-img">
                                        <img src="img/people%20laughing_0.jpg" alt="">
                                    </div><i class="fa fa-map-marker"></i>Niger<br>
                                   <span>
                                        Ham hock shank hamburger swine, pig rump filet mignon porchetta.
                                    Sausage ground round swine corned beef sirloin hamburger
                                    shank pork <a href="detials.html">Read More...</a>
                                   </span>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="service-sidebar">
                    <div class="box">
                            <div class="pad">
                                <p class="text-center"><strong>FUT Minna</strong></p>
                                <div class="abt">
                                    <div class="abt-img">
                                        <img src="img/people%20laughing_0.jpg" alt="">
                                    </div><i class="fa fa-map-marker"></i>Niger<br>
                                   <span>
                                        Ham hock shank hamburger swine, pig rump filet mignon porchetta.
                                    Sausage ground round swine corned beef sirloin hamburger
                                    shank pork <a href="detials.html">Read More...</a>
                                   </span>
                                </div>
                            </div>
                    </div>
            </div>
        </aside>
        <!--end aside section-->
    </div>
    <!--listing detail-->

</div>

<!--footer section-->
<div class="footer">
        <div class="row">
            <div class="col-lg-3 col-md-3"></div><p class="copyright footer-logo"><i  class="fa fa-copyright"></i> 2018 Saucecode.
                Developed with <i class="fa fa-heart text-info"></i>&nbsp; by <a href="https://github.com/seunzone"><strong>Seun</strong></a> and <a href="https://github.com/leksyib"><strong>Lekan</strong></a></p><div class="col-lg-3 col-md-3">
                </div>
                <div class="col-lg-3 col-md-3"></div>
            <div class="col-lg-3 col-md-3">         
            </div>
    </div>
    </div>
    <!--end footer section-->

    <script src="3rdparty/js/jquery-3.2.1.min.js"></script>
    <script src="3rdparty/js/popper.js"></script>
    <script src="3rdparty/js/bootstrap.js"></script>
    <script src="3rdparty/jquery-nice-select-1.1.0/js/jquery.nice-select.js"></script>
    <script src="3rdparty/OwlCarousel2-2.2.1/owl.carousel.min.js"></script>
    <script src="3rdparty/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="js/app.js"></script>



</body>

</html>