
<!DOCTYPE html>
<html lang="en">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>

    <!--meta tags-->

    <meta charset="UTF-8">
    <meta name="description" content="School Review App">
    <meta name="keywords" content="school, review">
    <meta name="author" content="SauceCode">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--end meta tags-->

    <title>Saucecode School App</title>

    <!--stylesheets-->

    <link rel="stylesheet" href="3rdparty/css/bootstrap.min.css">
    <link rel="stylesheet" href="3rdparty/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="3rdparty/css/animate.min.css">
    <link rel="stylesheet" href="3rdparty/jquery-nice-select-1.1.0/css/nice-select.css">
    <link rel="stylesheet" href="3rdparty/OwlCarousel2-2.2.1/owl.carousel.min.css">
    <link rel="stylesheet" href="3rdparty/OwlCarousel2-2.2.1/owl.theme.green.min.css">
    <link rel="stylesheet" href="css/app.css">

    <!--end stylesheets-->

    <!--google fonts-->

    <link href="https://fonts.googleapis.com/css?family=Quicksand:700|Raleway|Tangerine" rel="stylesheet">
    <!--end google fonts-->


</head>
<body>
    <!-- Add New School Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New School</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="auth-wrapper">
                        <div class="form-tabs">
                            <a href="#" data-frm="login-frm" class="tab active">Kindly Fill the Form Below</a>
                        </div>
                        <form class="login-frm frm" action="#" method="post">
                            <div class="form-group">
                                <label for="email1">Name of School:</label>
                                <input type="text" required name="name" autocomplete="email" id="#">
                            </div>
                            <div class="form-group">
                                <label for="image">Upload Image</label>
                                <input type="file" name="myfile" />
                            </div>
                            <div class="form-group">
                                    <label for="email">Your Email Address:</label>
                                    <input type="email" required name="email" autocomplete="email" id="#">
                            </div>
                            <div class="form-group">
                                <label for="pass1">Type of Institution</label>
                                <div class="sel">
                                        <select title="Service" class="wide">
                                            <option selected >Select Institution Type</option>
                                            <option data-display="Select">Nursery & Primary School</option>
                                            <option value="1">Secondary School</option>
                                            <option value="2">Higher Institution</option>
                                            <option value="3">Others</option>
                                        </select>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label for="email1">Location</label>
                                    <div class="sel">
                                        <select title="Service" class="wide">
                                            <option selected >Select a State</option>
                                            <option data-display="Select">Abia</option>
                                            <option value="#">Adamawa</option>
                                            <option value="#">Anambra</option>
                                            <option value="#">Akwa Ibom</option>
                                            <option value="#">Bauchi</option>
                                            <option value="#">Bayelsa</option>
                                            <option value="#">Benue</option>
                                            <option value="#">Borno</option>
                                            <option value="#">Cross River</option>
                                            <option value="#">Delta</option>
                                            <option value="#">Ebonyi</option>
                                            <option value="#">Enugu</option>
                                            <option value="#">Edo</option>
                                            <option value="#">Ekiti</option>
                                            <option value="#">Gombe</option>
                                            <option value="#">Imo</option>
                                            <option value="#">Jigawa</option>
                                            <option value="#">Kaduna</option>
                                            <option value="#">Kano</option>
                                            <option value="#">Katsina</option>
                                            <option value="#">Kebbi</option>
                                            <option value="#">Kogi</option>
                                            <option value="#">Kwara</option>
                                            <option value="#">Lagos</option>
                                            <option value="#">Nasarawa</option>
                                            <option value="#">Niger</option>
                                            <option value="#">Ogun</option>
                                            <option value="#">Ondo</option>
                                            <option value="#">Osun</option>
                                            <option value="#">Oyo</option>
                                            <option value="#">Plateau</option>
                                            <option value="#">Rivers</option>
                                            <option value="#">Sokoto</option>
                                            <option value="#">Taraba</option>
                                            <option value="#">Yobe</option>
                                            <option value="#">Zamfara</option>
                                            <option value="#">Abuja - FCT </option>

                                        </select>
                                    </div>
                            </div><br>
                            <hr>
                            <div class="form-tabs">
                                <a href="#" data-frm="register-frm" class="tab">Other Details</a>
                            </div>
                            <div class="form-group">
                                <label for="email1">Schools Email:</label>
                                <input type="email" name="email" autocomplete="email" id="email1">
                            </div>
                            <div class="form-group">
                                <label for="email1">Schools Number:</label>
                                <input type="text" name="schnum" autocomplete="email" id="email1">
                            </div>
                            <div class="form-group">
                                <label for="email1">Schools Website:</label>
                                <input type="text" name="schnum" autocomplete="email" id="email1">
                            </div>
                           <br>
                            <div class="sub-btn">
                                <input type="submit" class="btn ui-btn info" value="SUBMIT FOR REVIEW">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- end of Add New School Modal -->

<!--banner-->
<div class="landing-banner">
    <nav class="banner-menu">
        <div class="banner-logo"><a href="#">School Review</a></div>
        <div class="start-here">
            <a href="#" class="btn ui-btn info" data-toggle="modal" data-target="#Modal">Add New School</a>
        </div>
    </nav>

    <div class="banner-content">
        <h1 class="banner-title">Help Us Review Schools in your Area</h1>
        <p>THIS IS A PLATFORM WHERE STUDENTS AND OTHER STAKEHOLDERS CAN ANONYMOUSLY REVIEW SCHOOLS AND THEIR MANAGEMENT</p>

        <div class="select-fields">
            <div class="sel">
                <select title="Service" class="wide">
                    <option selected >Select Institution Type</option>
                    <option data-display="Select">Nursery & Primary School</option>
                    <option value="1">Secondary Schools</option>
                    <option value="2">Higher Institutions</option>
                    <option value="3" disabled>Others</option>
                    <option value="4">All</option>
                </select>
            </div>
            <div class="sel">
                <select title="Service" class="wide">
                    <option selected >Select City</option>
                    <option data-display="Select">Abuja</option>
                    <option value="1">Lagos</option>
                    <option value="2">Benin</option>
                    <option value="3" disabled>Ibadan</option>
                    <option value="4">All</option>
                </select>
            </div>
            <button class="btn ui-btn dark-blue">Search</button>
        </div>

    </div>

</div>
<!--end banner-->

<hr><hr>
<!--connecting people-->
<div class="connect">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="connect-img">
                <img src="img/edit.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-8 col-md-8">
            <div class="connect-info">
                <h3>How it works.</h3>
                <p>
                    Bacon ipsum dolor amet cow salami pork pastrami.
                    Pork loin beef ribs drumstick t-bone kielbasa chuck.
                    Bresaola meatball ribeye pig doner boudin. Meatloaf rump spare ribs,
                    salami drumstick corned beef ball tip jerky frankfurter.
                    Short ribs cow pork chop pancetta sausage jerky bresaola
                    frankfurter swine ribeye pork loin. Leberkas ham shankle chicken.
                    <br>
                    <br>
                    Pork loin beef ribs drumstick t-bone kielbasa chuck.
                    Bresaola meatball ribeye pig doner boudin. Meatloaf rump
                </p>
                <a href="#" class="btn ui-btn info">Get Started</a>
            </div>
        </div>
    </div>
</div>
<!--end connecting people-->


<!--top rated-->
<div class="top-rated">
    <h3 class="text-center">Top Rated Schools</h3>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="user-card">
                <div class="top">
                    <div class="user-photo">
                        <div><img src="img/avatar.jpg" alt=""></div>
                        <span><i class="fa fa-star text-rose"></i></span>
                    </div>
                    <div class="user-details">
                        <h6 class="name">Unilag</h6>
                        <!-- <div class="em-web">
                            <span>@susanm</span>
                            <span>|</span>
                            <span>merly.com</span>
                        </div> -->
                        <div class="location"><strong>Lagos</strong></div>
                    </div>
                    <div class="user-counts">
                        <div class="count-item">
                            <i class="fa fa-eye text-info"></i>
                            <strong>1241</strong>
                        </div>
                        <div class="count-item">
                            <i class="fa fa-heart text-mayan"></i>
                            <strong>786</strong>
                        </div>
                        <div class="count-item">
                            <i class="fa fa-pencil-square-o text-rose"></i>
                            <strong>569</strong>
                        </div>
                    </div>
                </div>
                <div class="center">
                    <p>
                        Brief School Description
                        Short ribs cow pork chop itin pancetta sage jerky
                        bresaola frankfurter swine ribeye pork loin.
                        Leberkas ham.
                    </p>
                </div>
                <div class="bottom info">
                   <a class ="btn" href="list.html"><strong>See All</strong></a> 
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="user-card">
                <div class="top">
                    <div class="user-photo">
                        <div><img src="img/user2.jpg" alt=""></div>
                        <span><i class="fa fa-star text-rose"></i></span>
                    </div>
                    <div class="user-details">
                        <h6 class="name">Convenant University</h6>
                        <!-- <div class="em-web">
                            <span>@randon</span>
                            <span>|</span>
                            <span>bzen.com</span>
                        </div> -->
                        <div class="location"><strong>Otta</strong></div>
                    </div>
                    <div class="user-counts">
                            <div class="count-item">
                                <i class="fa fa-eye text-info"></i>
                                <strong>1241</strong>
                            </div>
                            <div class="count-item">
                                <i class="fa fa-heart text-mayan"></i>
                                <strong>786</strong>
                            </div>
                            <div class="count-item">
                                <i class="fa fa-pencil-square-o text-rose"></i>
                                <strong>569</strong>
                            </div>
                    </div>
                </div>
                <div class="center">
                    <p>
                        Short ribs cow pork chop itin pancetta sage jerky
                        bresaola frankfurter swine ribeye pork loin.
                        Leberkas ham.
                    </p>
                </div>
                <div class="bottom info">
                        <a class ="btn" href="list.html"><strong>See All</strong></a> 
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="user-card">
                <div class="top">
                    <div class="user-photo">
                        <div><img src="img/avatar2.jpg" alt=""></div>
                        <span><i class="fa fa-star"></i></span>
                    </div>
                    <div class="user-details">
                        <h6 class="name">ICAN Training</h6>
                        <!-- <div class="em-web">
                            <span>@carol</span>
                            <span>|</span>
                            <span>mitc.com</span>
                        </div> -->
                        <div class="location"><strong>Abuja</strong></div>
                    </div>
                    <div class="user-counts">
                            <div class="count-item">
                                <i class="fa fa-eye text-info"></i>
                                <strong>1241</strong>
                            </div>
                            <div class="count-item">
                                <i class="fa fa-heart text-mayan"></i>
                                <strong>786</strong>
                            </div>
                            <div class="count-item">
                                <i class="fa fa-pencil-square-o text-rose"></i>
                                <strong>569</strong>
                            </div>
                    </div>
                </div>
                <div class="center">
                    <p>
                        Short ribs cow pork chop itin pancetta sage jerky
                        bresaola frankfurter swine ribeye pork loin.
                        Leberkas ham.
                    </p>
                </div>
                <div class="bottom info">
                    <a class ="btn" href="list.html"><strong>See All</strong></a> 
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="user-card">
                <div class="top">
                    <div class="user-photo">
                        <div><img src="img/user.jpg" alt=""></div>
                        <span><i class="fa fa-star text-rose"></i></span>
                    </div>
                    <div class="user-details">
                        <h6 class="name">Steph Driving School</h6>
                        <!-- <div class="em-web">
                            <span>@jacki</span>
                            <span>|</span>
                            <span>rozov.com</span>
                        </div> -->
                        <div class="location"><strong>Lokoja</strong></div>
                    </div>
                    <div class="user-counts">
                            <div class="count-item">
                                <i class="fa fa-eye text-info"></i>
                                <strong>1241</strong>
                            </div>
                            <div class="count-item">
                                <i class="fa fa-heart text-mayan"></i>
                                <strong>786</strong>
                            </div>
                            <div class="count-item">
                                <i class="fa fa-pencil-square-o text-rose"></i>
                                <strong>569</strong>
                            </div>
                    </div>
                </div>
                <div class="center">
                    <p>
                        Short ribs cow pork chop itin pancetta sage jerky
                        bresaola frankfurter swine ribeye pork loin.
                        Leberkas ham.
                    </p>
                </div>
                <div class="bottom info">
                        <a class ="btn" href="list.html"><strong>See All</strong></a> 
                </div>
            </div>
        </div>
    </div>
</div>
<!--end top rated-->


<!--footer section-->
<div class="footer">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                    <p class="copyright footer-logo"><i  class="fa fa-copyright"></i> 2017 Saucecode</p>
            </div>
    </div>
</div>
<!--end footer section-->


<script src="3rdparty/js/jquery-3.2.1.min.js"></script>
<script src="3rdparty/js/popper.js"></script>
<script src="3rdparty/js/bootstrap.js"></script>
<script src="3rdparty/jquery-nice-select-1.1.0/js/jquery.nice-select.js"></script>
<script src="3rdparty/OwlCarousel2-2.2.1/owl.carousel.min.js"></script>
<script src="3rdparty/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
<script src="js/app.js"></script>
</body>

</html>