
<!DOCTYPE html>
<html lang="en">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>

    <!--meta tags-->

    <meta charset="UTF-8">
    <meta name="description" content="School Review App">
    <meta name="keywords" content="school, review">
    <meta name="author" content="SauceCode">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--end meta tags-->

    <title>Saucecode School App</title>

    <!--stylesheets-->

    <link rel="stylesheet" href="3rdparty/css/bootstrap.min.css">
    <link rel="stylesheet" href="3rdparty/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="3rdparty/css/animate.min.css">
    <link rel="stylesheet" href="3rdparty/jquery-nice-select-1.1.0/css/nice-select.css">
    <link rel="stylesheet" href="3rdparty/OwlCarousel2-2.2.1/owl.carousel.min.css">
    <link rel="stylesheet" href="3rdparty/OwlCarousel2-2.2.1/owl.theme.green.min.css">
    <link rel="stylesheet" href="css/app.css">

    <!--end stylesheets-->

    <!--google fonts-->

    <link href="https://fonts.googleapis.com/css?family=Quicksand:700|Raleway|Tangerine" rel="stylesheet">
    <!--end google fonts-->


</head>
<body>

<!--banner-->
<div class="landing-banner">
    <nav class="banner-menu">
        <div class="banner-logo"><a href="#">School Review</a></div>
        <div class="start-here">
            <a href="#" class="btn ui-btn info">Add New School</a>
        </div>
    </nav>

    <div class="banner-content">
        <h1 class="banner-title">Help Us Review Schools in your Area</h1>
        <p>THIS IS A PLATFORM WHERE STUDENTS AND OTHER STAKEHOLDERS CAN ANONYMOUSLY REVIEW SCHOOLS AND THEIR MANAGEMENT</p>

        <div class="select-fields">
            <div class="sel">
                <select title="Service" class="wide">
                    <option selected >Select Institution Type</option>
                    <option data-display="Select">Nursery & Primary School</option>
                    <option value="1">Secondary Schools</option>
                    <option value="2">Higher Institutions</option>
                    <option value="3" disabled>Others</option>
                    <option value="4">All</option>
                </select>
            </div>
            <div class="sel">
                <select title="Service" class="wide">
                    <option selected >Select City</option>
                    <option data-display="Select">Abuja</option>
                    <option value="1">Lagos</option>
                    <option value="2">Benin</option>
                    <option value="3" disabled>Ibadan</option>
                    <option value="4">All</option>
                </select>
            </div>
            <button class="btn ui-btn dark-blue">Search</button>
        </div>

    </div>

</div>
<!--end banner-->

<!--efficiency-->
<div class="efficient">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="eff-item">
                <i class="fa fa-search text-success fa-3x"></i>
            </div>
            <div class="eff-tt">
                <strong>Search</strong>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="eff-item">
                <i class="fa fa-bookmark-o text-danger fa-3x"></i>
            </div>
            <div class="eff-tt">
                <strong>See Details</strong>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="eff-item">
                <i class="fa fa-handshake-o text-info fa-3x"></i>
            </div>
            <div class="eff-tt">
                <strong>Review</strong>
            </div>
        </div>
    </div>
</div>
<!--end efficiency-->

<!--connecting people-->
<div class="connect">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="connect-img">
                <img src="img/edit.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-8 col-md-8">
            <div class="connect-info">
                <h3>How it works.</h3>
                <p>
                    Bacon ipsum dolor amet cow salami pork pastrami.
                    Pork loin beef ribs drumstick t-bone kielbasa chuck.
                    Bresaola meatball ribeye pig doner boudin. Meatloaf rump spare ribs,
                    salami drumstick corned beef ball tip jerky frankfurter.
                    Short ribs cow pork chop pancetta sausage jerky bresaola
                    frankfurter swine ribeye pork loin. Leberkas ham shankle chicken.
                    <br>
                    <br>
                    Pork loin beef ribs drumstick t-bone kielbasa chuck.
                    Bresaola meatball ribeye pig doner boudin. Meatloaf rump
                </p>
                <a href="#" class="btn ui-btn info">Get Started</a>
            </div>
        </div>
    </div>
</div>
<!--end connecting people-->


<!--top rated-->
<div class="top-rated">
    <h3 class="text-center">Top Rated Schools</h3>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="user-card">
                <div class="top">
                    <div class="user-photo">
                        <div><img src="img/avatar.jpg" alt=""></div>
                        <span><i class="fa fa-star text-rose"></i></span>
                    </div>
                    <div class="user-details">
                        <h6 class="name">Unilag</h6>
                        <!-- <div class="em-web">
                            <span>@susanm</span>
                            <span>|</span>
                            <span>merly.com</span>
                        </div> -->
                        <div class="location"><strong>Lagos</strong></div>
                    </div>
                    <div class="user-counts">
                        <div class="count-item">
                            <i class="fa fa-eye text-info"></i>
                            <strong>1241</strong>
                        </div>
                        <div class="count-item">
                            <i class="fa fa-heart text-mayan"></i>
                            <strong>786</strong>
                        </div>
                        <div class="count-item">
                            <i class="fa fa-pencil-square-o text-rose"></i>
                            <strong>569</strong>
                        </div>
                    </div>
                </div>
                <div class="center">
                    <p>
                        Brief School Description
                        Short ribs cow pork chop itin pancetta sage jerky
                        bresaola frankfurter swine ribeye pork loin.
                        Leberkas ham.
                    </p>
                </div>
                <div class="bottom info">
                   <a class ="btn" href="#"><strong>See All</strong></a> 
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="user-card">
                <div class="top">
                    <div class="user-photo">
                        <div><img src="img/user2.jpg" alt=""></div>
                        <span><i class="fa fa-star text-rose"></i></span>
                    </div>
                    <div class="user-details">
                        <h6 class="name">Convenant University</h6>
                        <!-- <div class="em-web">
                            <span>@randon</span>
                            <span>|</span>
                            <span>bzen.com</span>
                        </div> -->
                        <div class="location"><strong>Otta</strong></div>
                    </div>
                    <div class="user-counts">
                            <div class="count-item">
                                <i class="fa fa-eye text-info"></i>
                                <strong>1241</strong>
                            </div>
                            <div class="count-item">
                                <i class="fa fa-heart text-mayan"></i>
                                <strong>786</strong>
                            </div>
                            <div class="count-item">
                                <i class="fa fa-pencil-square-o text-rose"></i>
                                <strong>569</strong>
                            </div>
                    </div>
                </div>
                <div class="center">
                    <p>
                        Short ribs cow pork chop itin pancetta sage jerky
                        bresaola frankfurter swine ribeye pork loin.
                        Leberkas ham.
                    </p>
                </div>
                <div class="bottom info">
                        <a class ="btn" href="#"><strong>See All</strong></a> 
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="user-card">
                <div class="top">
                    <div class="user-photo">
                        <div><img src="img/avatar2.jpg" alt=""></div>
                        <span><i class="fa fa-star"></i></span>
                    </div>
                    <div class="user-details">
                        <h6 class="name">ICAN Training</h6>
                        <!-- <div class="em-web">
                            <span>@carol</span>
                            <span>|</span>
                            <span>mitc.com</span>
                        </div> -->
                        <div class="location"><strong>Abuja</strong></div>
                    </div>
                    <div class="user-counts">
                            <div class="count-item">
                                <i class="fa fa-eye text-info"></i>
                                <strong>1241</strong>
                            </div>
                            <div class="count-item">
                                <i class="fa fa-heart text-mayan"></i>
                                <strong>786</strong>
                            </div>
                            <div class="count-item">
                                <i class="fa fa-pencil-square-o text-rose"></i>
                                <strong>569</strong>
                            </div>
                    </div>
                </div>
                <div class="center">
                    <p>
                        Short ribs cow pork chop itin pancetta sage jerky
                        bresaola frankfurter swine ribeye pork loin.
                        Leberkas ham.
                    </p>
                </div>
                <div class="bottom info">
                    <a class ="btn" href="#"><strong>See All</strong></a> 
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="user-card">
                <div class="top">
                    <div class="user-photo">
                        <div><img src="img/user.jpg" alt=""></div>
                        <span><i class="fa fa-star text-rose"></i></span>
                    </div>
                    <div class="user-details">
                        <h6 class="name">Steph Driving School</h6>
                        <!-- <div class="em-web">
                            <span>@jacki</span>
                            <span>|</span>
                            <span>rozov.com</span>
                        </div> -->
                        <div class="location"><strong>Lokoja</strong></div>
                    </div>
                    <div class="user-counts">
                            <div class="count-item">
                                <i class="fa fa-eye text-info"></i>
                                <strong>1241</strong>
                            </div>
                            <div class="count-item">
                                <i class="fa fa-heart text-mayan"></i>
                                <strong>786</strong>
                            </div>
                            <div class="count-item">
                                <i class="fa fa-pencil-square-o text-rose"></i>
                                <strong>569</strong>
                            </div>
                    </div>
                </div>
                <div class="center">
                    <p>
                        Short ribs cow pork chop itin pancetta sage jerky
                        bresaola frankfurter swine ribeye pork loin.
                        Leberkas ham.
                    </p>
                </div>
                <div class="bottom info">
                        <a class ="btn" href="#"><strong>See All</strong></a> 
                </div>
            </div>
        </div>
    </div>
</div>
<!--end top rated-->


<!--footer section-->
<div class="footer">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                    <p class="copyright footer-logo"><i  class="fa fa-copyright"></i> 2017 Saucecode</p>
            </div>
    </div>
</div>
<!--end footer section-->

<!--pre-loader-->
<div class="preloader"><span class="beacon"></span></div>
<!--end pre-loader-->


<script src="3rdparty/js/jquery-3.2.1.min.js"></script>
<script src="3rdparty/js/popper.js"></script>
<script src="3rdparty/js/bootstrap.js"></script>
<script src="3rdparty/jquery-nice-select-1.1.0/js/jquery.nice-select.js"></script>
<script src="3rdparty/OwlCarousel2-2.2.1/owl.carousel.min.js"></script>
<script src="3rdparty/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
<script src="js/app.js"></script>
</body>

</html>